#addNew {
    
    padding: 7px;
    border: 1px solid #7192c9;
    border-radius: 5px;
    font-weight: 5500;
    font-size: 0.9em;
    font-family: sans-serif ;
}

#mainPage {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 15px;
    
}

h1 {
    padding:0;
    margin:0;
    font-family: 'Rampart One', cursive;
    font-size: 60px;;
}

#tableDiv {
    display:flex;
    max-width: 900px;
    width: 100%;
}

.styled-table {
    
    border-collapse: collapse;    
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    flex: 1 1 100%;   
}

.styled-table thead tr {
    background-color: #7192c9;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;   
    
    
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #7192c9;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.6;
}

/* The popup form - hidden by default */
#overlay {
    display:none;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    
}

.form-popup {
    background-color: #87a6dd;
    color: black;
    font-weight: 500;
    font-size: 0.9em;
    font-family: sans-serif ;
    padding: 10px;
    width: 220px;
    height: 220px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid grey;
    border-radius: 5px;
  }
  form {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100%;

  }